<div class="container-fluid main pb-5 mb-5">
  <div class="row bg-secondary justify-content-center align-items-center">
    <div class="col-sm-10 text-center">
      <h1 class="display-2 text-capitalize mb-5">
        <span class="d-block text-warning ">About Kaizen Liftz</span>
      </h1>
      <main>
        <article class="Venn2">
          <div class="circle one">
            <span></span>
            <span></span>
            <h2 class="text-warning">Kaizen Blitz<span class="text-dark" style="float:none">krieg</span></h2>
            <br>
            <p class="text-dark"> Loosely translated Japanese “continual improvement” and German “sudden overpowering attack.” Americanized meaning "a sudden overpowering effort to take something apart and put it back together in a better way."
            </p>
          </div>
          <div class="circle two">
            <span></span>
            <span></span>
            <h2 class="text-dark">Weight <span class="text-warning" style="float:none">Lift</span>ing</h2>
            <p class="text-dark">
              The activity of lifting heavy bars to strengthen the muscles, either for exercise or in a competition.
            </p>
          </div>
          <div class="shape onetwo">
            <span></span>
            <span></span>
            <h2 class="text-warning">Kaizen Liftz</h2>
            <p class="text-light">
              A sudden overpowering effort to continually improve in weight lifting.
            </p>
          </div>
        </article>
      </main>
    </div>
  </div>
</div>
