<div class="container-fluid">
    <div class="row bg-info justify-content-center align-items-center" style="height: 90vh">
        <div class="col-sm-10 text-center">
            <h1 class="display-2 text-capitalize">
                <span class="text-white ">Track Gainz</span>
                <span class="text-warning font-weight-bold">Kaizen Liftz</span>
                <span class="text-white ">website</span>
            </h1>
            <h2 class="font-weight-light font-italic text-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h2>
            <a href="" class="btn btn-outline-warning btn-lg px-4 m-3">Press Here</a>
            <a href="" class="btn btn-outline-danger btn-lg px-4 m-3">Press Here</a>
        </div>
    </div>
</div>