<div class="container-fluid main">
    <div class="row justify-content-center ">
        <div class="col-sm-10 devise-form rounded bg-dark text-warning">
            <h1>Workout</h1>
            <span class="d-block">
                Name: 
                <span class="text-light">
                    <%= @workout.name %>
                </span>
            </span>
            <span class="d-block">
                Exercise(s): 
                <span class="text-light d-block">
                    <span class="text-danger">logic for exercise(s)</span>
                </span>
                <span class="text-light d-block">
                    <span class="text-danger ">weight/sets/reps +/-</span>
                </span>
            </span>
            <span class="text-danger d-block p-4">
                list all exercises in the workout.
                buttons add remove exercise
            </span>
            
        </div>
    </div>
</div>