<div class="card bg-dark text-light">
    <div class="card-header" id="headingTwo">
        <h5 class="mb-0 text-center bg-secondary">
            <button class="btn btn-lg btn-link text-warning collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Workout Entries
            </button>
        </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionWorkoutEntries">
        <div class="card-body">
            list list list
        </div>
    </div>
</div>