<div class="card bg-dark text-light">
    <div class="card-header" id="headingThree">
        <h5 class="mb-0 text-center bg-secondary">
            <button class="btn btn-lg btn-link text-warning collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                New Workout Entry
            </button>
        </h5>
        </div>
        <div id="collapseThree" class="collapse"aria-labelledby="headingThree" data-parent="#accordionWorkoutEntries">
            <div class="card-body">
                form form form 
            </div>
        </div>
    </div>
</div>