<div class="container-fluid main pb-5 mb-5">
    <div class="row justify-content-center ">
        <div class="col-sm-10 devise-form rounded bg-dark text-warning">
            <h1 class="text-center">My Workouts</h1>

            <ul class="list-unstyled bg-secondary rounded list-inline">
                <% @user.get_workouts.each do |workout| %>
                    <div class="container">
                        <li class="pt-4 list-inline-item">
                            <%= link_to workout.name, show_workout_path(current_user.id, workout.id), {:class => "text-light pl-5 font-weight-bold text-left"} %>
                        </li>
                        <li class="list-inline-item float-right">
                            <button class="btn btn-outline-warning mt-3">Remove</button>
                        </li>
                    </div>
                    <hr>
                <% end %>
            </ul>


            <div class="text-center mt-2">
                <%= link_to 'Home', root_path, class: "btn btn-lg btn-outline-warning"  %>
                <%= link_to "Add Workout", workouts_path, class: "btn btn-lg btn-outline-warning" %>
            </div>
        </div>
    </div>
</div> 
