<div class="container-fluid main">
    <div class="row justify-content-center ">
        <div class="col-sm-10 devise-form rounded bg-dark text-warning">
            <h1>Muscle</h1>
            <span class="d-block">
                Name: 
                <span class="text-light">
                    <%= @muscle.name %>
                </span>
            </span>
            <h2 class="text-danger">Admin only:</h2>
            <h6 class="text-danger">Don't have admin built</h6>
            <span class="text-danger my-2">
                <button class="btn-danger " disabled>edit</button>
            </span>
            <span class="text-danger my-2">
                <button class="btn-danger " disabled>delete</button>
            </span>
        </div>
    </div>
</div>