<div class="container-fluid main">
  <div class="row justify-content-center ">
    <div class="col-sm-10 devise-form rounded bg-dark text-warning">
      <% current_user.logs.map{|log| log.regiment}.each do |regiment| %>
      <div>
        <%= regiment.exercise.name %>
      </div>
      <% end%>
    </div>
  </div>
</div>
