<div class="container-fluid main">
    <div class="row justify-content-center ">
        <div class="col-sm-10 devise-form rounded bg-dark text-warning">
            <h1>Exercise</h1>
            <span class="d-block">
                Name: 
                <span class="text-light">
                    <%= @exercise.name %>
                </span>
            </span>
            <span class="d-block">
                Comments: 
                <span class="text-light">
                    <%= @exercise.comments %>
                </span>
            </span>
            <span class="d-block">
                Muscles: 
                <span class="text-light">
                    <%# <%= @intentions %>
                </span>
            </span>
            <span class="text-danger d-block p-4">
                logic for muscle(s) based on #. Should list muscles from intentions table per exercise id
            </span>
        </div>
    </div>
</div>