<footer class="fixed-bottom p-4 bg-dark">
    <div class="row text-center justify-content-between">
        <div class="col-md-2">
            <%= link_to "About", root_path, class:"text-capitalize font-weight-bold text-white curser" %>
        </div>
        <div class="col-md-2">
            <%= link_to "Exercises", exercises_path, class:"text-capitalize font-weight-bold text-white curser" %>
        </div>
        <div class="col-md-2">
            <%= link_to "Muscles", muscles_path, class:"text-capitalize font-weight-bold text-white curser" %>
        </div>
        <div class="col-md-2">
            <%= link_to "Workouts", workouts_path, class:"text-capitalize font-weight-bold text-white curser" %>
        </div>
  </div>
</footer>