<nav class="navbar navbar-expand-md navbar-light bg-dark fixed-top px-5">
  <%= link_to ('<i class="fas fa-dumbbell text-warning fa-2x navbar-brand"> Kaizan Liftz</i>').html_safe, root_path %>
  <div class="ml-auto">
    <%= link_to "Sign In", root_path, class:"text-capitalize font-weight-bold text-white curser" %>
  </div>
</nav>
